html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *:after{
    box-sizing: inherit;
}

:root{
    background-color: #333333;
    background-color: #858383;
    background-color: #181818;
    background-color: #0000;
    background-color: #eee;
    background-color: #b039ff;
    background-color: #ff00ff;
    background-color: #00ffff;
    background-color: #1A1B1F;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background: #424040;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    height: auto;
}

/* index.html */

/* header */
.hero{
    width: 100%;
    min-height: 10vh;
    background: linear-gradient(180deg, #30353B 0% ,#181818 100%);
}

.nav__hero{
    color: #00ffff;
    height: 70px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size: 24px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin: 0 5px;
}

nav ul li a{
    color: #f700ff;
    padding: 6px 5px;
    border-radius: 3px;
}

.link--active{
    color: #eee;
    font-weight: 700;
}

li a.active, li a:hover{
    background: linear-gradient(to right, #00fffb, #39c7ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.site-header{ 
    background: url(../img/portada-inicio.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative; 
}

.contenido-header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 22rem;
}

.contenido-header h1{
    font-size: 4rem;
    padding: 0 1rem;


    background: linear-gradient(to right, #f700ff, #c0bcc0, #00ffff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase; 
}
/* header */

/* letras */
h1{
    font-size: 3.8rem;
    color: #eee;
}

h3{
    font-size: 3rem;
    color: #eee;
}

h6{
    font-size: 2.4rem;
    color: #c0bcc0;
}

p{
    color: #eee;
}

a{
    text-decoration: none;
}

.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
    margin-bottom: 7px;
}

.centrar-texto{
    text-align: center;

    background: linear-gradient(to right, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d-block{
    display: block!important;
}

.cotenido-centrado{
    max-width: 800px;
}

.boton{
    color: #eee;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
}

.boton:hover{
    cursor: pointer;
}

.boton-violeta{
    background-color: #b039ff;
}

.boton-rosa{
    background-color: #ff00ff;
}
/* letras */

/* iconos */
.contenedor-seccion{
    text-align: center;
    background: linear-gradient(to right, #00ffff, #ff00ff);
}

.contenedor-seccion .iconos-listo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.contenedor-seccion .iconos-listo .icono{
    padding: 50px 20px;
    height: 25rem;
    width: 25rem;
    background: #1A1B1F;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}

.contenedor-seccion h2{
    background: #1A1B1F;
    color: #bd39ff;
    padding: 10px;
}

.contenedor-seccion .iconos-listo .icono img{
    margin-bottom: 10px;
}

.contenedor-seccion .iconos-listo .icono h4{
    font-size: 2rem;
    color: #eee;
    transition: .2s;
}

.contenedor-seccion .iconos-listo .icono:hover h4{
    background: linear-gradient(to right, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* iconos */

/* anuncios */
.subtitle{
    padding: 40px;
    margin-bottom: -100px;
    font-size: 42px;
    text-align: center;

    background: linear-gradient(to right, #ff00ff, #b039ff, #00ffff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__title{
    font-size: 20px;
    margin-bottom: 8px;
}

.card{
    width: 300px;
    padding: 45px 0;
    background: linear-gradient(to right, #00e1ff, #ff00f7 );
    border-radius: 10px;
    text-align: center;
    margin-bottom: 60px;
    margin-left: 29px;
    margin-right: 29px;
}

.card__img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.grid-container:hover{
    filter: opacity(0.9);
    transform: scale(1.09);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.anuncios .container .grid-container{
    display: inline-block;
}

.ver-todos{
    display: flex;
    justify-content: flex-end;
}
/* anuncios */

/* contacto */
.imagen-contacto{
    background-image: url(../img/portada-contacto.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.copy__section{
    font-size: 22px;
    text-align: center;
    margin-bottom: 32px;

    background: linear-gradient(to right, #ff00ff, #00ffff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenido-contacto{
    flex: 0 0 95%;
    color: #eee;
}

.contenido-contacto p{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
/* contacto */

/* modelo oled */

.subtitle2{
    padding: 15px;
    margin-bottom: -10px;
    font-size: 42px;
    text-align: center;

    background: linear-gradient(to right, #ff00ff, #00ffff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copy__section2{
    font-size: 22px;
    text-align: center;
    margin-bottom: -50px;

    background: linear-gradient(to right, #ff00ff, #00ffff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card2{
    width: 30%;
    padding: 30px 0;

    background: linear-gradient(to right, #00d0ff, #ff00cc, #bd39ff);
    border-radius: 10px;
    text-align: center;
}

.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 100px;
}

.background__video{
    width: 100%;
    height: 150%;
    object-fit: cover;
    border-radius: inherit;
}
/* modelo oled */

/* footer */
.footer{
    background: linear-gradient(180deg, #30353B 0% ,#181818 100%);
}

.footer__caption{
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.title__footer{
    font-size: 20px;
    margin-bottom: 15px;
}

.download{
    width: 50%;
}

.download__app{
    display: flex;
}

.download__item{
    display: flex;
    padding: 18px 15px;
    border-radius: 6px;
    background: linear-gradient(180deg, #41444a 0% , #181818 100%);
    border: 3px solid var(#eee);
    width: 40%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}

.download__logo{
    font-size: 40px;
    margin-right: 20px;
}

.download__title{
    font-size: 18px;
    color: #eee;
}

.footer__copy{
    width: 100%;
    color: var(#eee);
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    width: 100%;
}

.politica__privacidad{
    color: #b039ff;
    display: inline-block;
    margin-top: 2px;
}

.politica__privacidad:hover{
    text-decoration: underline;
}

.politica__privacidad--margin{
    margin-right: 10px;
}

.get-follow{
    width: 40%;
}

.socialmedia__icon{
    font-size: 40px;
    margin-right: 20px;
    display: inline-block;
}

.item__contact{
    margin-top: 24px;
    display: flex;
}

.contact__icon{
    margin-right: 16px;
}
/* footer */

/* nosotras.html */
.subtitle-texto{
    background: linear-gradient(to right, #ff00f7, #00d0ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto-nosotras blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

.contenido-nosotras img{
    width: 600px;
    float: left;
    margin-right: 30px;
}

.contenido-nosotras p{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contenedor-inferior{
    background: linear-gradient(180deg, #30353B 0% ,#26262a 100%);
    text-align: center;
    padding: 20px;
}

.contenedor-inferior .iconos-listo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.contenedor-inferior .iconos-listo .icono{
    padding: 50px 20px;
    height: 35rem;
    width: 30rem;
    background: #1A1B1F;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 4rem;
    cursor: pointer;
}

.contenedor-inferior h2{
    background: #1A1B1F;
    color: #eee;
    padding: 10px;
}

.contenedor-inferior .iconos-listo .icono img{
    margin-bottom: 10px;
}

.contenedor-inferior .iconos-listo .icono h4{
    font-size: 2rem;
    color: #eee;
    transition: .2s;
}

.icono p{
    background: linear-gradient(to right, #ff00f7, #00d0ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* nosotras.html */


/* responsive */
@media (max-width: 480px){

    /* index.html */
    html{
        font-size: 50%;
    }

    .site-header h1{
        font-size: 25px;
    }

    .contenedor-seccion .iconos-listo .icono{
        padding: 30px 10px;
    }

    .subtitle{
        font-size: 30px;
    }

    .anuncios .container .grid-container{
    padding: 0 4rem;
    }

    .imagen-contacto .contenido-contacto h3{
        font-size: 16px;
    }

    .subtitle2{
        font-size: 35px;
    }

    .copy__section2{
        font-size: 16px;
        padding: 0 2rem;
    }

    .download{
        width: 100%;
    }

    .download__app{
        justify-content:space-between;
    }

    .download__item{
        width: 45%;
    }

    .get-follow{
        width: 100%;
        margin-bottom: 20px;
    }

    .socialmedia__icon{
        font-size: 18px;
    }

    .item__contact{
        font-size: 18px;
    }

    /* nosotras.html*/

    .contenido-nosotras .imagen img{
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 768px){
    
    /* index.html */
    html{
        font-size: 55%;
    }

    .nav__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav__hero{
        height: auto;
    }

    .logo{
        padding: 15px 0;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .site-header h1{
        padding: 1.5rem 2rem;
    }

    .anuncios .container .ver-todos{
        justify-content: center;
    }

    .copy__section2{
        font-size: 20px;
    }

    .container-bg .card2{
        width: 100%;
        margin-bottom: 40px;
        padding: 20px 10px;
    }

    .container-bg .background{
        width: 100%;
    }

    /* nosotras.html */
    .contenido-nosotras{
        display: grid;
    }

    .texto-nosotras blockquote{
        font-weight: 900;
        margin: 0;
        padding: 1rem 0 3rem 0;
    }

    .contenido-nosotras .imagen img{
        width: 100%;
    }
}

/*GRIDS*/

nav .nav__hero{
    display: grid;
    grid-template-columns: repeat (8 ,1fr);
}

.logo .logo__name{
    grid-column: 2 / 3;
}

.links{
    grid-column: 4 / 7;
}

.site-header .contenido-header{
    display: grid;
    grid-template-columns: repeat (10, 1fr);
    grid-template-rows: repeat (8, 1fr);
}

.site-header .contenido-header h1{
    grid-column: 3 / 10;
    grid-row: 3 / 8;
}

footer .footer{
    display: grid;
}

